body {
  font-family: 'ITC Franklin Gothic LT W01 Bk', Arial, Helvetica, sans-serif;
  color: #000000;
  background: white;
}
body *:not(i) {
  font-family: Arial, Helvetica, sans-serif important;
}
h1,
h2,
h3,
h4 {
  font-family: 'Born Ready W00 Regular', Arial, Helvetica, sans-serif;
  text-align: center;
  color: #ad7175;
  background: url(https://res.cloudinary.com/b-coding/image/fetch/https://beatemariabauer.github.io/uploads/2018/08/11/strich_fuer_ueberschirften.png) center bottom no-repeat;
  padding: 1rem 0;
}
h1 {
  font-size: 5rem;
  font-weight: normal;
  margin-top: 2rem!important;
}
h2 {
  font-size: 5rem;
  font-weight: normal;
  margin-top: 2rem!important;
}
.ccont {
  text-align: center;
}
a {
  color: #ad7175;
}
main {
  padding-top: 15vh;
}
header {
  height: 15vh;
  padding: 0;
  border-bottom: 1px solid #bcbcbc;
  -webkit-box-shadow: 0px 0px 36px 0px #7a7a7a;
  -moz-box-shadow: 0px 0px 36px 0px #7a7a7a;
  box-shadow: 0px 0px 36px 0px #7a7a7a;
  position: fixed;
  z-index: 9;
  background: white;
  width: 100vw;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
header > .container {
  position: relative;
  height: 100%;
  display: flex!important;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  height: 15vh;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
header .logo.scrolled {
  height: 8vh;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
header.scrolled {
  height: 8vh;
  -webkit-box-shadow: 0px 0px 20px 0px #7a7a7a;
  -moz-box-shadow: 0px 0px 20px 0px #7a7a7a;
  box-shadow: 0px 0px 20px 0px #7a7a7a;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}
header #headermenu {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
header #headermenu .headermenuitem {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: black;
  padding: 0 1rem 0 0;
}
header #headermenu .headermenuitem:hover {
  color: #ad7175;
}
header #headermenu .headermenuitem.active {
  color: #ad7175;
}
header #headermenu .headermenuitem:after {
  content: '//';
  margin-left: 1rem;
}
header #headermenu .headermenuitem:last-child:after {
  content: '';
}
footer {
  display: flex!important;
  padding: 0 2rem;
  justify-content: space-between;
  background: #ad7175;
}
footer > a {
  color: white!important;
  padding: 1rem 0 1rem 1rem;
}
footer .footermenu {
  display: flex!important;
  justify-content: left;
}
footer .footermenu a {
  color: white!important;
  padding: 1rem 0 1rem 1rem;
}
@media (max-width: 767px) {
  footer .footermenu a {
    padding: 1rem 0.5rem;
  }
}
footer .footermenu a:after {
  content: '|';
  margin-left: 1rem;
}
footer .footermenu a:last-child:after {
  content: '';
}
#about {
  padding-bottom: 1rem;
}
#about h1 {
  text-align: left;
  font-size: 4rem;
  display: inline-block;
  background-size: contain;
}
#about .content_rechts {
  padding-top: 2rem;
}
#about .content_rechts p:first-child:first-letter {
  float: left;
  font-size: 3rem;
  line-height: 2rem;
  margin-top: -0.65rem;
  margin-right: 0.25rem;
  color: #ad7175;
}
@media (max-width: 767px) {
  #about .content_rechts p:first-child:first-letter {
    font-size: 2rem;
    line-height: 2rem;
    margin-top: -0.71rem;
  }
}
#home #teaser_oben {
  position: relative;
  height: 85vh;
}
#home #teaser_oben img {
  height: 40vh;
  position: absolute;
  right: -100px;
  top: 20vh;
}
#home #intro {
  padding: 3rem 0;
  color: white;
  font-size: 1.2rem;
  line-height: 2.5rem;
}
#home #intro .linkbuttoncol {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#home #intro .linkbuttoncol .lbutton {
  background: white;
  color: #ad7175;
  padding: 1rem 3rem;
  border-radius: 0.75rem;
}
#home #kontakt {
  padding-bottom: 2rem;
}
#home #kontakt .ui.grid {
  margin-top: 2rem;
}
#home #kontakt .kdata {
  margin: 0;
  padding: 0 0 0 4rem;
  columns: 2;
  column-gap: 2rem;
}
#home #kontakt .kdata li {
  color: rgba(173, 113, 117, 0.77);
  line-height: 1.5rem;
  display: flex;
  justify-content: left;
}
#home #kontakt .kdata li strong {
  font-weight: bold;
}
#home #kontakt .kdata li i {
  margin-right: 1rem;
}
#home #services {
  margin-bottom: 2rem;
}
#home #services .ccont {
  margin-bottom: 2rem;
}
#home #services .sber .ui.shape {
  width: 100%;
  height: 320px!important;
  position: relative;
  cursor: pointer;
}
#home #services .sber .ui.shape .sides {
  width: 100%;
  height: 100%!important;
}
#home #services .sber .ui.shape .sides .side {
  width: 100%;
  height: 100%!important;
}
#home #services .sber .ui.shape .side.back .inner {
  font-size: 1.4rem;
}
#home #services .sber .ui.shape .side.back .inner img {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 20%;
}
#home #services .sber .ui.shape .side.back .inner em {
  margin: 2rem 0 1rem 0;
}
#home #services .sber .ui.shape .side.back .inner strong {
  font-size: 3rem;
  font-weight: normal;
}
#home #services .sber .inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  color: white;
}
#home #services .sber .inner.grau {
  background: #bcbcbc;
  color: #ad7175 !important;
}
#home #services .sber .inner.rose {
  background: rgba(173, 113, 117, 0.77);
}
#home #services .sber .inner.rose.hell {
  background: rgba(173, 113, 117, 0.3);
}
#home #services .sber .inner.rose.dunkel {
  background: #ad7175;
}
#home #services .sber .inner em {
  font-family: 'Born Ready W00 Regular', Arial, Helvetica, sans-serif;
  font-size: 4rem;
}
#home #services .sber .inner img {
  max-width: 40%;
}
.kontform .ui.button {
  color: white;
  background: rgba(173, 113, 117, 0.77);
  padding: 1rem 2rem;
  border-radius: 0.75rem;
}
.kontform .ui.button:hover {
  background: #ad7175;
}
.kontform textarea {
  background: rgba(255, 255, 255, 0.95) !important;
  border: 1px solid rgba(173, 113, 117, 0.77) !important;
  border-radius: 0.75rem!important;
  padding: 1rem!important;
}
.kontform input {
  background: rgba(255, 255, 255, 0.95) !important;
  border: 1px solid rgba(173, 113, 117, 0.77) !important;
  border-radius: 0.75rem!important;
  padding: 1rem!important;
}
